@page 
@model Chapter02.Pages.Admin.Users.AllUsers

@{
    ViewData["Title"] = "All Users";
    Layout = "_AdminLayout";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
   
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User list with minimal information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Users)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Surname</td>
                                            <td>@item.Email</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@item.Role</td>
                                            @if (User.Claims.First().Value == item.Id)
                                            {
                                                <td></td>
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td><a asp-page="/admin/users/update" asp-route-Id="@item.Id" class="btn btn-dark">Edit</a></td>
                                                <td><a asp-page="/user/delete" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>
<!-- /.content -->