@page 
@model Chapter02.Pages.Admin.Users.AllUsers

@{
    ViewData["Title"] = "AllUsers";
    Layout = "_AdminLayout";
}

<div class="container mt-12">
    <h3>Create new User  <a asp-page="/auth/signup" class="btn btn-success">Create</a></h3>

    <h2 class="text-center mb-4">All Users</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in @Model.Users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Role</td>
                    <td><a asp-page="/user/update" asp-route-Id="@user.Id" class="btn btn-secondary">Edit</a></td>
                    @if (User.Claims.First().Value == user.Id)
                    {
                        <td><a class="btn btn-success w-50">It`s you</a></td>
                    }
                    else
                    {
                        <td><a asp-page="/user/delete" asp-route-Id="@user.Id" class="btn btn-danger">Delete</a></td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
</div>