@page 
@model Chapter02.Pages.Admin.Users.AllUsers

@{
    ViewData["Title"] = "All Users";
    Layout = "_AdminLayout";
}
<style>
    .pagination {
        justify-content: center;
        margin-top: 5px;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
   
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
              
                <div class="col-md-8 offset-md-2" style="margin-bottom: 20px">
                    <h2 class="text-center display-4">Search by UserName</h2>
                    <form method="post">
                        <div class="input-group input-group-lg">
                           
                            <input type="search" name="searchString" class="form-control form-control-lg" placeholder="Search...">
                        </div>
                    </form>
                </div>

               
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User list with minimal information</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Img</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Users)
                                    {
                                        <tr>
                                            <td><img style="width:150px; height:120px;" src="~/images/users/@item.ImageName" /></td>
                                            <td>@item.Name</td>
                                            <td>@item.Surname</td>
                                            <td>@item.Email</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@item.Role</td>
                                            @if (User.Claims.First().Value == item.Id)
                                            {
                                                <td></td>
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td><a asp-page="/admin/users/update" asp-route-Id="@item.Id" class="btn btn-dark">Edit</a></td>
                                                <td><a asp-page="/user/delete" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <paging total-records=@Model.UserCount
                            page-no="Model.PageNo"
                            show-prev-next="false"
                            show-first-last="false"
                            show-total-pages="false"
                            show-total-records="false"
                            show-page-size-nav="false"
                            show-gap="false"
                            max-displayed-pages="5">
                    </paging>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>
<!-- /.content -->