@page
@model Chapter02.Pages.Admin.Books.AllBooksModel
@{
    ViewData["Title"] = "AllBooks";
    Layout = "_AdminLayout";
}

<div class="container mt-12">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    <h3>Create new Book  <a class="btn btn-success" asp-page="Create">Create</a></h3>
    <h2 class="text-center mb-4">All Book</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>

                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Books != null)
            {
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Name</td>
                        <td>@book.Description</td>
                        <td>@book.Price</td>
                        <td><a asp-page="/admin/books/update" asp-route-Id="@book.Id" class="btn btn-secondary">Edit</a></td>
                        <td><a asp-page="/admin/books/delete" asp-route-Id="@book.Id" class="btn btn-danger">Delete</a></td>

                    </tr>
                }

            }
            else
            {
                <h2>books isnt exist in database</h2>
            }

        </tbody>
    </table>
</div>